@charset "utf-8";
@use "../App.scss";

.edit-list {
  width: 100%;
  margin: 0 auto;
}

.edit-list-form {
  color: #555555;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: App.$danger-color;
  border: solid 1px App.$danger-color;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: App.$primary-color;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: App.$danger-color;
}