@charset "utf-8";
@use "../App.scss";

.signin {
  width: 50%;
  margin: 0 auto;
}

.signin-form {
  margin: 25px 0;
}

.email-label, .password-label {
  color: #555555;
}

.email-input, .password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signin-button {
  background-color: App.$primary-color;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: App.$danger-color;
}